.clock {    
  width: 200px;
  bottom: 575px;
  right: -875px;
  padding: 5px;

  color: rgb(0, 0, 0);
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 20px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;


  .timeButton::after {
    content: "Click to swap time format";
    font-size: 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 77, 77, 0.8);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.3s ease;
  }

  .timeButton:hover::after {
    display: flex;
    opacity: 1;
  }

  }