.taskList {
    bottom: -40px;
    right: 600px;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', monospace;
    font-weight: normal;
    font-size: 12px;
    border: 7px solid rgb(255, 255, 255);
    padding: 10px;
    border-width: thin;
    height: 200px;
    width: 300px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color:rgb(255, 255, 255);
}