.habitList {
    bottom: 200px;
    right: -450px;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-weight: normal;
    font-size: 12px;
    border: 7px solid rgb(218, 218, 221);
    padding: 10px;
    border-width: thin;
    height: 500px;
    width: 500px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:rgb(221, 219, 218);
}