.mainheader {
  bottom: 150px;
  left: -600px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 20px;

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  }

.topbar {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.mainbar {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}


