.mainheader {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 40px;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;

  }

.topbar {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

}




