.nasaImg {
    width: 250px;
    height: 150px;
    border: 7px solid rgb(208, 207, 238);
    padding: 10px;
    border-width: thin;
}

.nasaImgDiv {
    height: 10px;
    bottom: 200px;
    right: 600px;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.nasaImgDiv h4 {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', monospace;
    font-weight: normal;
    font-size: 12px;
}