.checkboxList {
    list-style-type: none;
    padding-left: 0; 
}
  
.checkboxList li {
    display: flex; 
    align-items: center; 
    margin-bottom: 8px; 
}

.checkboxList input[type="checkbox"] + label {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 14px; 
    height: 13px; 
    border: 1px solid #fcfcfc; 
    margin-right: 8px; 
    border-radius: 2px;

  }


.scrollable-box {
  height: 150px; 
  overflow-y: auto; 
  border: 1px solid #ffffff; 
  padding: 16px; 
  background-color: #ffffff; 
}