.welcomeheader {
    position: relative;
    bottom: 250px;
    left: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', monospace;
    font-weight: normal;
    font-size: 20px;
    
  }

.staticwelcome {

    font-family: 'Courier New', monospace;
    font-weight: normal;
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: relative;

  }

.nameInput {
  width: 200px; 
  height: 20px; 
  border: 1px solid #000000; 
  border-radius: 5px; 
  padding: 5px; 
  font-size: 12px; 
  background-color: #beaeae; 
}